<!-- AQUI NO PUEDE ESTAR INCRUSTADO CSS NI JS SOLO HTML Y LAS CLASES Y FUNCIONES HEREDADAS DE BASE.HTML  -->

{% extends "base.html" %}
{% block title %}Cambiar Contraseña{% endblock %}
{% block content %}

<div class="container mt-6">
<div class="columns is-centered">
<div class="column is-5">
<h1 class="title has-text-centered has-text-warning">Cambiar Contraseña</h1>
<form action="{{ url_for('perfil.change_password') }}" method="POST">
<div class="field">
<label class="label">Contraseña Actual</label>
<div class="control has-icons-left has-icons-right">
<input id="old_password_input" name="current_password" class="input is-rounded" type="password" required>
<span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
<span id="toggle_old_password" class="icon is-small is-right is-clickable"><i class="fas fa-eye"></i></span>
</div>
</div>
            <div class="field">
                <label class="label">Nueva Contraseña</label>
                <div class="control has-icons-left has-icons-right">
                    <input id="new_password_input" name="new_password" class="input is-rounded" type="password" required>
                    <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                    <span id="toggle_new_password" class="icon is-small is-right is-clickable"><i class="fas fa-eye"></i></span>
                </div>
            </div>

            <div class="field">
                <label class="label">Confirmar Nueva Contraseña</label>
                <div class="control has-icons-left has-icons-right">
                    <input id="confirm_password_input" name="confirm_password" class="input is-rounded" type="password" required>
                    <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                    <span id="toggle_confirm_password" class="icon is-small is-right is-clickable"><i class="fas fa-eye"></i></span>
                </div>
            </div>

            <div class="field is-grouped is-grouped-centered mt-5">
                <div class="control">
                    <button type="submit" class="button is-warning is-rounded">Cambiar Contraseña</button>
                </div>
            </div>
        </form>
        <div class="has-text-centered mt-4">
            <a href="{{ url_for('perfil.perfil') }}" class="button is-link is-rounded">Volver a mi perfil</a>
        </div>
    </div>
</div>

</div>
{% endblock %}
