{% extends 'base.html' %}

{% block title %}Editar Versión{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 text-center">Editar Versión</h1>
    <hr class="mb-4">

    <form method="POST">
        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" id="titulo" name="titulo" value="{{ version.titulo }}">
        </div>
        <div class="mb-3">
            <label for="parrafo" class="form-label">Párrafo</label>
            <textarea class="form-control" id="parrafo" name="parrafo" rows="3">{{ version.parrafo }}</textarea>
        </div>

        <hr class="my-4">

        <div class="mb-3">
            <label for="nombre_version" class="form-label">Nombre de la Versión <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="nombre_version" name="nombre_version" value="{{ version.nombre_version }}" required>
        </div>
        <div class="mb-3">
            <label for="numero_version" class="form-label">Número de la Versión <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="numero_version" name="numero_version" value="{{ version.numero_version }}" required>
        </div>

        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción de la Versión</label>
            <textarea class="form-control" id="descripcion" name="descripcion">{{ version.descripcion | safe }}</textarea>
        </div>
        <div class="mb-3">
            <label for="pendiente" class="form-label">Pendiente</label>
            <textarea class="form-control" id="pendiente" name="pendiente">{{ version.pendiente | safe }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        ClassicEditor.create(document.querySelector('#descripcion')).catch(error => console.error(error));
        ClassicEditor.create(document.querySelector('#pendiente')).catch(error => console.error(error));
    });
</script>
{% endblock %}
