{% extends 'base.html' %}
{% block title %}{{ _('Editar Acerca de Nosotros') }}{% endblock %}

{% block head_content %}

<style>
.fab-container-save {
position: fixed;
bottom: 70px;
z-index: 1000;
right: 20px;
}

.fab-button {
width: 60px;
height: 60px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size: 1.8rem;
transition: all 0.3s ease;
text-decoration: none;
border: none;
}
.fab-button:hover {
transform: scale(1.05);
filter: brightness(90%);
}
.fab-button-save {
background-color: var(--bs-warning);
color: var(--bs-dark);
}

</style>

{% endblock %}

{% block content %}

<div class="container">
<h1 class="text-center mb-5">{{ _('Editar Sección "Acerca de Nosotros"') }}</h1>

<div class="p-4" style="background-color: var(--card-bg);">
<form method="POST" enctype="multipart/form-data" id="editAboutUsForm">
<div class="mb-4">
<label for="logo" class="form-label">{{ _('Subir Logo (Opcional)') }}</label>
{% if about_us_entry and about_us_entry.logo_filename %}
<p class="text-secondary">{{ _('Logo actual:') }}</p>
<img src="{{ url_for('static', filename='uploads/aboutus_images/' + about_us_entry.logo_filename) }}" alt="Logo" class="img-fluid mb-2" style="max-height: 150px;">
{% endif %}
<input type="file" class="form-control" id="logo" name="logo">
</div>

<div class="mb-4">
    <label for="logo_info" class="form-label">{{ _('Información del Logo') }}</label>
    <textarea class="form-control" id="logo_info" name="logo_info" rows="3">{{ about_us_entry.logo_info }}</textarea>
</div>

<div class="mb-4">
    <label for="title" class="form-label">{{ _('Título') }}</label>
    <input type="text" class="form-control" id="title" name="title" value="{{ about_us_entry.title }}" required>
</div>

<div class="mb-4">
    <label for="detail" class="form-label">{{ _('Detalle (Contenido Principal)') }}</label>
    <textarea name="detail" id="detail" class="form-control" rows="10">{{ _(about_us_entry.detail) }}</textarea>
</div>

<button type="submit" class="d-none">{{ _('Actualizar Sección') }}</button>

</form>

</div>

</div>

<!-- Botón flotante para guardar cambios -->

{% if session.role == 'Superuser' %}

<div class="fab-container-save">
<a href="#" class="fab-button fab-button-save" title="{{ _('Actualizar Sección') }}" onclick="document.getElementById('editAboutUsForm').submit(); return false;">
<i class="fas fa-save"></i>
</a>
</div>
{% endif %}
{% endblock %}