<!-- AQUI NO PUEDE ESTAR INCRUSTADO CSS NI JS SOLO HTML Y LAS CLASES Y FUNCIONES HEREDADAS DE BASE.HTML  -->

{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<section class="hero is-warning is-fullheight">
    <div class="hero-body has-text-centered" style="padding-top: 150px;">
        <div class="container is-fluid">
            <p class="title is-size-1 has-text-white has-text-weight-bold">
                ¡Bienvenido, {% if session.username %}{{ session.username }}{% else %}Invitado{% endif %}!
            </p>
            <p class="subtitle is-size-4 has-text-white">
                Esta es la página de inicio de tu aplicación.
            </p>
            <hr class="has-background-white my-4">
            <p class="is-size-5 has-text-white">Aquí puedes agregar el contenido principal para usuarios autenticados.</p>

            {% if not session.logged_in %}
                <div class="buttons is-centered mt-5">
                    <a class="button is-white is-rounded is-large" href="{{ url_for('login') }}">Iniciar Sesión</a>
                    <a class="button is-dark is-rounded is-large" href="{{ url_for('register') }}">Registrarse</a>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
