<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand has-text-centered">
        <!-- Logo y botón Cast -->
        <div class="navbar-brand-container">
            <a class="navbar-item is-size-4 has-text-weight-bold" href="{{ url_for('home') }}">TRANSAVI</a>
            <google-cast-launcher class="ml-2"></google-cast-launcher>
        </div>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu has-text-centered">
        <div class="navbar-end">
            <!-- Botones de Tema e Idioma -->
            <a class="navbar-item" id="single-theme-button">
                <span class="icon"><i class="fas" id="active-theme-icon"></i></span>
            </a>
            <a class="navbar-item" id="single-lang-button">
                {% if session.get('lang') == 'en' %}
                    <span>🇬🇧</span>
                {% else %}
                    <span>🇪🇸</span>
                {% endif %}
            </a>

            <a class="navbar-item" href="{{ url_for('aboutus.ver_aboutus') }}">
                <span class="icon is-hidden-desktop">
                    <i class="fas fa-info-circle"></i>
                </span>
                <span class="is-hidden-touch">{{ _('Acerca de Nosotros') }}</span>
            </a>

            {% if session.logged_in %}
                {% if session.role == 'Superuser' %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">{{ _('Más Opciones') }}</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('contactos.ver_contactos') }}">{{ _('Ver Contactos') }}</a>
                            <a class="navbar-item" href="{{ url_for('btns.crear_btns') }}">{{ _('Configurar Botón Flotante') }}</a>
                            <a class="navbar-item" href="https://www.pythonanywhere.com/user/kenth1977/">Pythonanywhere</a>
                            <hr class="navbar-divider">
                            <a class="navbar-item has-text-danger has-text-weight-bold" href="{{ url_for('contactos.admin_manage_roles') }}">{{ _('Administrar Roles') }}</a>
                        </div>
                    </div>
                {% endif %}

                <a class="navbar-item" href="{{ url_for('perfil.perfil') }}">
                    <span class="icon is-hidden-desktop">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="is-hidden-touch">{{ session.username }}</span>
                </a>

                <a class="navbar-item" href="{{ url_for('logout') }}">
                    <span class="icon is-hidden-desktop">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <span class="is-hidden-touch">{{ _('Cerrar Sesión') }}</span>
                </a>
            {% else %}
                <a class="navbar-item" href="{{ url_for('login') }}">
                    <span class="icon is-hidden-desktop">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="is-hidden-touch">{{ _('Iniciar Sesión') }}</span>
                </a>
            {% endif %}
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {
                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
            });
        });

        // Close the menu when clicking outside of it
        document.addEventListener('click', (event) => {
            const $navbarMenu = document.getElementById('navbarBasicExample');
            const $navbarBurger = document.querySelector('.navbar-burger');

            // Check if the clicked element is not inside the menu or the burger button
            if (!event.target.closest('.navbar-menu') && !event.target.closest('.navbar-burger')) {
                if ($navbarMenu.classList.contains('is-active')) {
                    $navbarMenu.classList.remove('is-active');
                    $navbarBurger.classList.remove('is-active');
                }
            }
        });
    });
</script>
