<!-- AQUI NO PUEDE ESTAR INCRUSTADO CSS NI JS SOLO HTML Y LAS CLASES Y FUNCIONES HEREDADAS DE BASE.HTML  -->

{% extends 'base.html' %}
{% block title %}Solicitar Restablecimiento de Contraseña{% endblock %}
{% block content %}
<div class="container p-4" style="margin-top: 150px;">
    <div class="columns is-centered">
        <div class="column is-6-tablet is-5-desktop is-4-widescreen">
            <div class="box">
                <h2 class="title has-text-centered has-text-warning">Restablecer Contraseña</h2>
                <p class="has-text-centered has-text-grey mb-4">Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
                <form method="POST" action="{{ url_for('request_password_reset') }}">
                    <div class="field">
                        <label for="email" class="label">Correo Electrónico</label>
                        <div class="control">
                            <input type="email" class="input is-rounded" id="email" name="email" required>
                        </div>
                    </div>
                    <div class="field mt-5">
                        <div class="control">
                            <button type="submit" class="button is-warning is-rounded is-fullwidth">Enviar Enlace</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
