<!-- AQUI NO PUEDE ESTAR INCRUSTADO CSS NI JS SOLO HTML Y LAS CLASES Y FUNCIONES HEREDADAS DE BASE.HTML  -->

{% extends 'base.html' %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<div class="container p-4" style="margin-top: 150px;">
    <div class="columns is-centered">
        <div class="column is-6-tablet is-5-desktop is-4-widescreen">
            <h2 class="title has-text-centered has-text-warning">Establecer Nueva Contraseña</h2>
            <form method="POST" action="{{ url_for('reset_password', token=token) }}">
                <div class="field">
                    <label for="password" class="label">Nueva Contraseña</label>
                    <div class="control">
                        <input type="password" class="input is-rounded" id="password_input" name="password" required>
                    </div>
                </div>
                <div class="field">
                    <label for="confirm_password" class="label">Confirmar Nueva Contraseña</label>
                    <div class="control">
                        <input type="password" class="input is-rounded" id="confirm_password_input" name="confirm_password" required>
                    </div>
                </div>
                <div class="field mt-5">
                    <div class="control">
                        <button type="submit" class="button is-warning is-rounded is-fullwidth">Restablecer Contraseña</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/password_toggles.js') }}"></script>
{% endblock %}
